root_task.img
sigma0.img
l4test
*.a
*.o
kickstart
sigma0
user/serv/sigma0/.depend
user/serv/sigma0/Makefile
user/serv/sigma0/sigma0
user/util/kickstart/.depend
user/util/kickstart/.revision
user/util/kickstart/Makefile
user/util/kickstart/Makefile~
user/util/kickstart/kickstart
12meg
ata
bcmp.htm
user/apps/Makefile~
user/apps/counter/counter-llgcc-hybrid
user/counter
user/lib/io/.lib.h.swp
x86-kernel
fd.img
grub.iso
*.*~
*.pyc
/build/
user/autom4te.cache/
user/configure
user/config.h.in
